$global = {
  base: 8px
  color: {
    content: #333
    secondary: #666
    light: #fff
    brand: #399bcc
  }
}

$config = {
  color: {
    blue: 0
    light: 0
    dark: 0
  }
}

colors()
  for $c in 0..20
    $percent = unit(5 * $c, '%')
    return darken(#000, $percent)  