html
  head
    link(href="./app.css" rel="stylesheet")
    //- link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css")
    //- link(href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC" rel="stylesheet")
  body
    #page
      block content
    //- script(src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js")
    script(src="./app.js" type="text/javascript")